<!--
   CLASE 12 DE OCTUBRE - SPRINT 4 (RETO 4) - SEGUNDA PÁGINA (VotApp)
-->

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>VotApp</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.1-dist/Sprint3Style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.1-dist/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/JSprint3.js}"></script>
</head>

<body>
    
    <header id="titulo2">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <center><strong>Partidos de candidatos presidenciales - Estadisticas (VotaApp)</strong></center>
    </header>

        <section id="seccion">

            <img id="imagenVOTOS" src="img/ELECCIONES.webp">

            <br><br><br>

            <center>
                <font size="5"><strong>Partidos de candidatos</strong></font>
            </center>
            <br>
            <table align="center" border="3">
                <tr>
                    <th height="200">
                        <a title="PH" target="_blank"
                            href="https://cnnespanol.cnn.com/2022/06/09/pacto-historico-petro-colombia-integrantes-origen-resultados-elecciones-orix/">
                            <img id="Margen" src="img/PH.png" width="300" height="100" alt="PH">
                        </a>
                    </th>
                    <th height="200">
                        <a title="EPC" target="_blank"
                            href="https://www.lafm.com.co/politica/equipo-por-colombia-quienes-son-los-integrantes-de-esa-coalicion">
                            <img id="Margen" src="img/EPC.png" width="300" height="100" alt="EPC">
                        </a>
                    </th>
                    <th height="200">
                        <a title="LGA" target="_blank"
                            href="https://congresovisible.uniandes.edu.co/partidos/perfil/liga-de-gobernantes-anticorrupcion/255/">
                            <img id="Margen" src="img/LGA.png" width="285" height="150" alt="LGA">
                        </a>
                    </th>
                    <th height="200">
                        <a title="CE" target="_blank" href="https://coalicioncentroesperanza.com/">
                            <img id="Margen" src="img/CE.jpg" width="210" height="180" alt="CE">
                        </a>
                    </th>
                </tr>
            </table>
            <center><br><strong>NOTA:</strong> Haga click sobre la imágen para acceder al contenido del partido que
                desea<br></center>
        </section>

        <br>
        <center>
            <a id="aside" th:href="@{/back}">Volver a la página principal</a>
        </center>

        <br><br><br><br><br><br><br><br><br>
        <footer id="pie">
            © Copyright Tripulantes G05 Misión TIC 2022 UNAB
            <ul>
                Equipo de Trabajo:
                Daniel Alape, Néstor Heredia, Henry Matallana, Ricardo Navarro, Jose Perez y Cristian Oviedo
            </ul>
        </footer>
        
    </body>

</html>
